.button {
  display: inline-block;
  span {
    display: block;
    color: #222326;
    background-color: #fff;
  }
}
.button.shadow {
  box-shadow: none;
  button,
  span {
    border-width: 3px;
    border-style: solid;
  }
  &:before {
    border-width: 0;
  }
}
.load-more_button {
  button.button {
    cursor: pointer;
    font-family: 'Circular', Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0;
    border: 0;
    background: transparent;
    line-height: 1.8;
    border-radius: 0;
    &:disabled {
      cursor: not-allowed;
      padding: 0;
      opacity: 1;
      &:before {
        background-color: var(--ac-color);
      }
    }
    &:disabled[disabled] {
      cursor: not-allowed;
      padding: 0;
      opacity: 1;
      &:before {
        background-color: var(--ac-color);
      }
    }
  }
}
.button.small {
  button,
  span {
    // font-size: 1.4rem;
    padding: 0.3rem 4rem;
  }
}
.button.normal {
  button,
  span {
    // font-size: 1.5rem;
    padding: 0.5rem 3rem;
  }
}
.button.large {
  button,
  span {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 4rem;
  }
}
.button.fluid {
  display: block;
  button,
  span {
    text-align: center;
  }
}
.button.white {
  button {
    border-color: #fff;
  }
  &:before {
    background-color: #fff;
  }
  &:hover {
    &:before {
      background-color: #fff;
    }
  }
}
.button.black {
  button {
    border-color: #222326;
  }
  &:before {
    background-color: #222326;
  }
  &:hover {
    &:before {
      background-color: #222326;
    }
  }
}
.button.grey {
  button {
    border-color: #919496;
  }
  &:before {
    background-color: #919496;
  }
  &:hover {
    &:before {
      background-color: #919496;
    }
  }
}
.button.light-grey {
  button {
    border-color: #f4f4f4;
  }
  &:before {
    background-color: #f4f4f4;
  }
  &:hover {
    &:before {
      background-color: #f4f4f4;
    }
  }
}
.button.green {
  button {
    border-color: var(--act-color);
  }
  &:before {
    background-color: var(--act-color);
  }
  &:hover {
    &:before {
      background-color: var(--act-color);
    }
  }
}
.button.red {
  button {
    border-color: #e43a19;
  }
  &:before {
    background-color: #e43a19;
  }
  &:hover {
    &:before {
      background-color: #e43a19;
    }
  }
}
.button.blue {
  button {
    border-color: var(--act-color);
  }
  &:before {
    background-color: var(--act-color);
  }
  &:hover {
    &:before {
      background-color: var(--act-color);
    }
  }
}
.button.light-blue {
  button,
  span {
    border-color: var(--ac-color);
  }
  &:before {
    background-color: var(--ac-color);
  }
  &:hover {
    &:before {
      background-color: var(--ac-color);
    }
  }
}
@media (min-width: 1921px) {
  .button.small {
    button,
    span {
      padding: 0.2rem 2.3rem;
    }
  }
  .button.normal {
    button {
      font-size: 1rem;
      padding: 0.7rem 3rem;
    }
  }
  .button.large {
    button {
      font-size: 1.2rem;
      padding: 0.7rem 3rem;
    }
  }
}
