.navigation {
  padding: 4rem 0;
  clear: both;
  .prev {
    a {
      display: block;
    }
  }
  .next {
    a {
      display: block;
    }
    h6 {
      right: 0;
    }
  }
  a {
    position: relative;
    color: var(--fg-light-color);
    h6 {
      position: absolute;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 0.5rem;
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
      opacity: 0;
      transition: transform cubic-bezier(0.23, 1, 0.32, 1) 0.4s,
        opacity cubic-bezier(0.23, 1, 0.32, 1) 0.4s,
        -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
    }

    h1 {
      margin-bottom: 0;
    }
    &:hover {
      color: #6ca5d0 !important;
      h6 {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
  .disabled {
    a {
      pointer-events: none;
      opacity: 0.8;
    }
  }
  ul {
    li {
      position: relative;
      display: inline-block;
      padding-right: 5.5rem;
      a {
        font-weight: 700;
        font-size: 2.2rem;
      }
      &:after {
        content: '';
        display: block;
        width: 14px;
        height: 3px;
        background-color: var(--fg-color);
        position: absolute;
        right: 2.75rem;
        margin-right: -7px;
        top: 50%;
        margin-top: -1.5px;
      }
      &:last-child {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
    }
    li.active {
      a {
        color: #6ca5d0 !important;
      }
    }
  }
}
.col-md-8 {
  .navigation {
    ul {
      li {
        &:after {
          height: 2px;
          margin-top: -1px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .navigation {
    a {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
@media (max-width: 576px) {
  .navigation {
    a {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
@media (min-width: 577px) {
  .navigation {
    padding-bottom: 8rem;
  }
}
@media (max-width: 1450px) {
  .navigation {
    a {
      h1 {
        font-size: 1.4rem;
      }
    }
    ul {
      li {
        a {
          font-size: 0.875rem;
        }
      }
    }
  }
}
