.related-upsell_products {
	h6 {
		font-size: 1.4rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 5rem;
	}
	.up-sells {
		padding: 8rem 0 3rem;
		margin-bottom: 4px;
		background-color: #f4f4f4;
	}
	.related-products {
		padding: 8rem 0 3rem;
		background-color: #f4f4f4;
		margin-bottom: 0;
	}
}
