.top-bar_right {
  .dropdown {
    position: relative;
    min-width: 15rem;
    cursor: pointer;
    #dropdown-button {
      border-width: 2px;
      border-color: var(--ac-color);
      border-style: solid;
      color: #222326;
    }
    a {
      font-size: 0.9em;
      font-weight: 500;
      color: #444548;
      display: block;
      padding: 0.6rem 1.2rem;
      transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
      .icon {
        position: absolute;
        right: 1rem;
        width: 1rem;
        height: 18px;
        top: 50%;
        margin-top: -12px;
        transform-origin: 50% 70%;
        transition: transform cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
        svg {
          width: 100%;
          fill: #222326;
        }
      }
      &:hover {
        background-color: var(--ac-color);
      }
    }
    a.is-open {
      .icon {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .submenu {
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 9;
      border-width: 2px;
      border-top-width: 0;
      border-color: var(--ac-color);
      border-style: solid;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: opacity cubic-bezier(0.23, 1, 0.32, 1) 0.4s,
        visibility cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
      ul {
        // border-width: 2px;
        // border-color: var(--ac-color);
        border-top: 0;
        padding: 0;
        flex-direction: column;
        margin: 0;
        li {
          display: block;
          a {
            cursor: pointer;
            display: block;
            color: #222326;
            padding: 0.8rem 1.5rem;
            transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1)
              0.2s;
            &:hover {
              background-color: var(--ac-color);
            }
          }
          a.active {
            background-color: var(--ac-color);
          }
        }
      }
    }
    .shadow.submenu {
      &:before {
        border-top: 0;
      }
    }
    .submenu.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
}
@media (min-width: 577px) {
  .woocommerce-top_bar {
    .top-bar_right {
      margin-top: 0;
    }
  }
}
