.woocommerce-account {
  mark {
    background-color: transparent;
    color: #6ca5d0;
  }
  h1 {
    a {
      color: #222326;
      &:hover {
        color: #6ca5d0;
      }
    }
    a.active {
      color: #6ca5d0;
    }
    span {
      color: #222326;
      margin: 0 2.5rem;
    }
  }
  button {
    padding: 0 !important;
  }
  input {
    border-color: #cfe5fc;
  }
  label {
    .required {
      color: #6ca5d0;
    }
  }
  label.woocommerce-form__label-for-checkbox {
    margin-bottom: 0;
    input {
      margin: -3px 1rem 0 0;
    }
    span {
      font-size: 1.15rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #6ca5d0;
    }
  }
  form {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-transition: opacity cubic-bezier(0.23, 1, 0.32, 1) 0.4s,
      visibility cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
    -o-transition: opacity cubic-bezier(0.23, 1, 0.32, 1) 0.4s,
      visibility cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
    transition: opacity cubic-bezier(0.23, 1, 0.32, 1) 0.4s,
      visibility cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
    p {
      padding: 0 !important;
      margin: 0 0 2.5rem 0 !important;
      button.button {
        padding: 0;
        background-color: transparent;
        display: block;
        width: 100%;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  form.hide {
    opacity: 0;
    visibility: hidden;
  }
  .forms-holder {
    position: relative;
    .register {
      position: absolute;
      width: 100%;
      top: 0;
    }
  }
  .woocommerce-LostPassword {
    margin: 0 !important;
    margin-left: auto !important;
    a {
      font-size: 1.15rem;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #6ca5d0;
    }
  }
  .woocommerce-password-strength {
    background-color: transparent;
    font-weight: 400;
    color: #e43a19;
    text-align: left;
    padding: 1rem 0 0 0;
  }
  .woocommerce-ResetPassword {
    h3 {
      margin-bottom: 1.6rem;
    }
    input {
      border-color: #cfe5fc;
    }
  }
}
.woocommerce-account.logged-in {
  .woocommerce-MyAccount-navigation {
    width: auto;
    float: none;
    ul {
      border-color: #cfe5fc;
      border-width: 3px;
      padding: 3rem 3.5rem;
      li {
        list-style: none;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 500;
          font-size: 1.4rem;
          color: #6ca5d0;
          &:before {
            height: 2px;
            background-color: #6ca5d0;
          }
        }
      }
    }
  }
  .woocommerce-MyAccount-navigation.shadow {
    &:before {
      border-color: #cfe5fc;
    }
  }
  .woocommerce-MyAccount-content {
    width: auto;
    float: none;
    a {
      color: #6ca5d0;
    }
    .woocommerce-Address {
      margin-bottom: 4rem;
      address {
        margin-bottom: 0;
      }
    }
    table {
      border: 0;
      margin: 0;
      thead {
        tr {
          th {
            border: 0;
            background-color: transparent;
            font-size: 1.4rem;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 0 0 2rem 0;
            span {
              font-size: 1.4rem;
              font-weight: 900;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            border: 0;
            padding: 3rem 2rem 0 0;
            a.button {
              color: #222326;
              font-weight: 500;
              border-radius: 0;
              border-width: 2px;
              border-style: solid;
              border-color: #cfe5fc;
              background-color: transparent;
              margin-right: 3rem;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          th {
            border: 0;
            padding: 3rem 2rem 0 0;
            a.button {
              color: #222326;
              font-weight: 500;
              border-radius: 0;
              border-width: 2px;
              border-style: solid;
              border-color: #cfe5fc;
              background-color: transparent;
              margin-right: 3rem;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      tfoot {
        tr {
          td {
            border: 0;
            padding: 3rem 2rem 0 0;
            font-weight: 400;
          }
          th {
            border: 0;
            padding: 3rem 2rem 0 0;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 2px;
          }
        }
      }
    }
    .woocommerce-order-details {
      padding: 5rem 0;
      margin-bottom: 0;
      .order-again {
        margin-top: 5rem;
        .button {
          padding: 0;
          width: 100%;
          background-color: transparent;
        }
      }
      table {
        tbody {
          tr {
            &:last-child {
              td {
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-bottom-color: #cfe5fc;
                padding-bottom: 4rem;
              }
              th {
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-bottom-color: #cfe5fc;
                padding-bottom: 4rem;
              }
            }
          }
        }
        tfoot {
          tr {
            &:last-child {
              td {
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-bottom-color: #cfe5fc;
                padding: 4rem 2rem 4rem 0;
              }
              th {
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-bottom-color: #cfe5fc;
                padding: 4rem 2rem 4rem 0;
              }
            }
          }
        }
      }
    }
    .woocommerce-customer-details {
      margin-bottom: 0;
      address {
        padding: 0;
        border: 0;
        border-radius: 0;
        p {
          padding-left: 0;
          &:before {
            display: none;
          }
        }
      }
      .woocommerce-column--billing-address {
        address {
          padding-bottom: 5rem;
          border-bottom-width: 3px;
          border-bottom-color: #cfe5fc;
          border-bottom-style: solid;
        }
      }
    }
  }
}
