.single-product {
  > .product-holder {
    padding: 2.5rem 0;
  }
  .flex-row-reverse {
    .single-product_info {
      padding-left: 0;
      margin-top: 57px;
      padding-top: 6rem;
    }
  }
  .single-product_info {
    .breadcrumb-rating {
      margin-bottom: 2rem;
    }
    .entry-title {
      margin-bottom: 2.5rem;
    }
    .price {
      display: block;
      margin-bottom: 2rem;
      del {
        background-color: #6ca5d0;
        color: #fff;
      }
      ins {
        color: #6ca5d0;
      }
    }
    .woocommerce-product-details__short-description {
      margin-bottom: 3rem;
      * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .woocommerce-grouped-product-list {
      width: 100%;
      tbody {
        tr {
          td {
            label {
              a {
                color: #6ca5d0;
              }
            }
          }
        }
      }
    }
    .stock {
      margin-bottom: 4rem;
      &:before {
        border-color: #6ca5d0;
      }
      p {
        margin-bottom: 0;
        padding: 0.6rem;
        font-weight: 500;
        color: #222326;
        background-color: #cfe5fc;
        border-color: #6ca5d0;
        border-width: 2px;
      }
    }
    .stock.shadow.out-of-stock {
      color: #fff;
      &:before {
        border-color: #222326;
      }
      p {
        color: #fff;
        background-color:var(--fg-light-color);
        border-color: #222326;
      }
    }
    .cart {
      margin-bottom: 4rem !important;
      .quantity {
        float: none !important;
        margin-right: 1rem !important;
        input {
          border-width: 3px;
          border-style: solid;
          border-color: #cfe5fc;
          line-height: 1.1;
          width: 8rem;
        }
      }
      .button {
        @apply font-semibold;
        @apply cursor-pointer;
        @apply leading-none;
        @apply inline-flex;
        @apply overflow-visible;
        @apply m-0;
        @apply p-0;

        padding: 0;
        vertical-align: middle;
        background: none;
        font-size: 100%;
        position: relative;
        span {
          @apply text-sm;
          @apply py-4;
          @apply px-8;
        }
      }
      .button.disabled {
        &:before {
          background-color: #f4f4f4 !important;
        }
      }
    }
    .product_meta {
      margin-bottom: 4rem;
      > span {
        @apply text-sm;

        display: block;
        color:var(--fg-light-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 0.7rem;
        a {
          color: #6ca5d0;
        }
      }
    }
    .variations_form {
      .variations {
        margin-bottom: 0 !important;
        tbody {
          tr {
            height: 48px;
            line-height: 50px;
            margin-bottom: 3rem;
            border-width: 2px;
            border-style: solid;
            border-color: #6ca5d0;
            td {
              padding: 0 15px 0 15px !important;
              .reset_variations {
                position: absolute;
                top: 100%;
                right: 0;
                margin-top: 1rem;
                color: #6ca5d0;
              }
            }
            td.label {
              background-color: #cfe5fc;
              border-right-width: 2px;
              border-right-style: solid;
              border-right-color: #6ca5d0;
              label {
                display: block;
                margin-bottom: 0;
                line-height: 44px;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 1rem;
                color: #222326;
                font-weight: 500;
              }
            }
            td.value {
              select {
                color: #222326;
                font-family: 'Circular', Helvetica, Arial, sans-serif;
                font-weight: 500;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                min-width: 100%;
                margin-left: auto;
                border: none;
                background: none;
                margin-right: 0 !important;
              }
            }
          }
        }
      }
      .woocommerce-variation-availability {
        .shadow {
          &:before {
            display: none;
          }
        }
      }
    }
    .woocommerce-variation-description {
      p {
        margin-bottom: 3rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .woocommerce-variation-price {
      .price {
        del {
          opacity: 1 !important;
          line-height: 1.3;
        }
      }
    }
  }
  .non-container {
    > .row {
      margin: 0;
      > div {
        padding: 0;
      }
    }
    .single-product_info {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }
}
@media (min-width: 577px) {
  .single-product {
    .flex-row-reverse {
      .single-product_info {
        padding-right: 3rem;
      }
    }
    .single-product_info {
      padding-left: 3rem;
    }
  }
}
@media (min-width: 769px) {
  .single-product {
    .flex-row-reverse {
      .single-product_info {
        padding-right: 6rem;
      }
    }
    .single-product_info {
      padding-left: 6rem;
    }
  }
}
@media (min-width: 993px) {
  .single-product {
    .non-container {
      .single-product_info {
        padding-right: 3.5rem !important;
        padding-left: 3.5rem !important;
      }
    }
  }
}
@media (min-width: 1651px) {
  .single-product {
    .non-container {
      .single-product_info {
        padding-left: 6rem !important;
        padding-right: 6rem !important;
      }
    }
  }
}
@media (min-width: 1921px) {
  .single-product {
    .non-container {
      .single-product_info {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
      }
    }
  }
}
@media (max-width: 1450px) {
  .single-product {
    .non-container {
      .single-product_info {
        padding-top: 8rem !important;
      }
    }
  }
}
@media (max-width: 576px) {
  .single-product {
    .non-container {
      .single-product_info {
        padding-top: 0 !important;
      }
    }
  }
}
@media (max-width: 992px) {
  .single-product {
    .container {
      .single-product_info {
        padding-left: 0;
        margin-top: 3rem;
      }
      .flex-row-reverse {
        .single-product_info {
          margin-top: 0;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
.woocommerce-tabs {
  ul.tabs {
    overflow: visible;
    padding: 0;
    margin: 0;
    &:before {
      z-index: 0;
      border-color: #cfe5fc;
      border-width: 3px;
    }
    li {
      background-color: transparent !important;
      padding: 0 0.6rem 0.3rem;
      margin: 0 1rem 0 0;
      border-radius: 0;
      border-right: 0;
      border: 0;
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
      a {
        @apply text-sm;

        display: block;
        color: #6ca5d0 !important;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0;
      }
    }
    li.active {
      border-bottom-color: #6ca5d0;
    }
  }
  .panel {
    margin-bottom: 0;
    padding: 1rem 0;
    display: none;
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
    table {
      border: 0;
      tbody {
        tr {
          margin-bottom: 1rem;
          th {
            padding: 0 0 0.5rem 0 !important;
            border: 0;
            width: auto;
            text-align: left;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            line-height: 1.6;
            p {
              padding: 0;
            }
          }
          td {
            padding: 0 0 0.5rem 0 !important;
            border: 0;
            width: auto;
            text-align: left;
            background-color: transparent;
            font-style: normal;
            line-height: 1.6;
            p {
              padding: 0;
            }
          }
          &:last-child {
            th {
              padding-bottom: 0 !important;
            }
            td {
              padding-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
}
